@import url("https://rsms.me/inter/inter.css");

$font-family-sans-serif: Inter var, -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans,
  system-ui, sans-serif;

@import "~bootstrap/scss/bootstrap.scss";

.fp-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.no-caret {
  .dropdown-toggle:after { content: none !important; }
}

.font-weight-medium {
  font-weight: 500 !important;
}